<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'forgot_password_title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="forgot-password">
  <div *ngIf="!isCodeSent">
    <ion-list class="list-form">
      <ion-item>
        <ion-input [(ngModel)]="username" type="text" stacked placeholder="{{'signin_email' | translate }}"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="primary" block (click)="sendCode()">{{'signin_send' | translate}}</button>
  </div>
  <div *ngIf="isCodeSent">
    <ion-list class="list-form">
      <ion-item>
        <ion-input [(ngModel)]="code" type="text" stacked placeholder="{{'signin_code' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" stacked placeholder="{{'signin_password' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password_repeat" type="password" stacked placeholder="{{'signin_password_repeat' | translate }}"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="primary" block (click)="reset()">{{'signin_send' | translate}}</button>
  </div>
</ion-content>