<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ category.title }}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <div padding class="border-bottom text-lg">
    <span class="pull-left" (click)="chooseSortBy()" ion-text color="gray">
      {{ sortBy }}
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </span>
    <ion-icon class="pull-right" name="apps" (click)="viewGrid()" [hidden]="viewType == 'grid'"></ion-icon>
    <ion-icon class="pull-right" name="menu" (click)="viewList()" [hidden]="viewType == 'list'"></ion-icon>
    <div class="clear"></div>
  </div> -->

  <!--List of items-->
  <ion-list no-margin class="list-full-border list-products" [ngClass]="{'grid': viewType == 'grid', 'list': viewType == 'list'}">
    <ion-item class="product" *ngFor="let item of items" (click)="viewItem(item.key)">
      <ion-thumbnail item-left>
        <img src="{{ fileService.url + '/' + item.filenames[0] }}">
      </ion-thumbnail>
      <!--item's information-->
      <div>
        <div text-wrap>{{ item.title }}</div>
        <div>
          <span ion-text color="danger" *ngIf="item.price_discount">{{ item.price_discount | currency:'CZK':true }}</span>
          <span ion-text color="danger" *ngIf="!item.price_discount">{{ item.price | currency:'CZK':true }}</span>
        </div>
        <div class="origin-price text-sm">
          <span *ngIf="item.price_discount" class="text-decoration">{{ item.price | currency:'CZK':true }}</span>
          <span *ngIf="item.price_discount" class="discount-rate" ion-text color="danger">{{ discountPercent(item.price, item.price_discount) }}%</span>
        </div>
        <!-- <div class="bottom-info text-sm">
          <span ion-text color="gray" class="pull-left" *ngIf="item.shipping == 0">Free shipping</span>
          <span ion-text color="gray" class="pull-left" *ngIf="item.shipping != 0">Shipping: {{ item.shipping | currency:'CZK':true}}</span>
          <span ion-text color="gray" class="pull-right">
            {{ item.num_orders }} Orders
          </span>
          <div class="clear"></div>
        </div> -->
      </div>
    </ion-item>
  </ion-list>


</ion-content>

<!-- <ion-footer class="category">
  <ion-toolbar position="bottom">
    <ion-buttons text-center start>
      <button ion-button icon-left (click)="openFilter('filter')">
        <ion-icon name="ios-funnel"></ion-icon>
        FILTER
      </button>
    </ion-buttons>
    <ion-buttons text-center end>
      <button ion-button icon-left (click)="openFilter('attribute')">
        <ion-icon name="apps"></ion-icon>
        ATTRIBUTE
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->