<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'cart_title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class=" common-bg">
  <div class="card">
    <newforms [form]="modelPostage | async"></newforms>
    <div *ngIf="cart && cart.postage && cart.postage.description" padding>
      {{ cart.postage.description }}
    </div>
  </div>
  <br/>
  <div class="card">
    <newforms [form]="modelPayment | async"></newforms>
    <div *ngIf="cart && cart.payment && cart.payment.description" padding>
      {{ cart.payment.description }}
    </div>
  </div>
  <br/>
  <div class="card" *ngIf="cart">
    <ion-list class="list-full-border" no-margin>
      <ion-list-header>{{'cart_products' | translate }}</ion-list-header>
      <ion-item *ngIf="cart.items && cart.items.length === 0">
        {{'cart_no_products' | translate }}
      </ion-item>
      <ion-item class="product" *ngFor="let cartitem of cart.items">
        <ion-thumbnail item-left *ngIf="cartitem.item.filenames && cartitem.item.filenames.length > 0">
          <img src="{{ fileService.url + '/' + cartitem.item.filenames[0] }}">
        </ion-thumbnail>
        <!--item's information-->
        <div>
          <div text-wrap>{{ cartitem.item.name }}</div>
          <!-- <div class="text-sm">
            <span ion-text color="gray">{{ cartitem.item.options.join(',') }}</span>
          </div> -->
          <div padding-bottom>
            <span class="pull-right">
              <span *ngIf="cartitem.quantity > 1" margin-right>{{ cartitem.item.getPrice() | currency:'CZK':true }}/ks</span> {{ cartitem.item.getPrice() * cartitem.quantity
              | currency:'CZK':true }}
            </span>
            <div class="clear"></div>
          </div>
          <div>
            <div class="input-qty">
              <span class="btn" (click)="removeQuantity(cartitem)">
                <ion-icon name="ios-remove"></ion-icon>
              </span>
              <input type="text" [(ngModel)]="cartitem.quantity">
              <span class="btn" (click)="addQuantity(cartitem)">
                <ion-icon name="ios-add"></ion-icon>
              </span>
              <div class="clear" (click)="remove(cartitem)"></div>
            </div>
            <div class="pull-right bottom-info text-lg trash-btn">
              <ion-icon name="trash" color="gray" class="pull-right" (click)="remove(cartitem)"></ion-icon>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div *ngIf="cart && cart.items && cart.items.length > 0" class="card-footer" padding>
      <div>
        <span class="pull-left" ion-text color="gray">{{'cart_products' | translate }}</span>
        <span class="pull-right" ion-text color="gray">{{ cart.getSubtotal() | currency:'CZK':true }}</span>
        <div class="clear"></div>
      </div>
      <div>
        <span class="pull-left" ion-text color="gray">{{'postage' | translate}}</span>
        <span class="pull-right" ion-text color="gray">{{ cart.getPostage() | currency:'CZK':true }}</span>
        <div class="clear"></div>
      </div>
      <div>
        <span class="pull-left" ion-text color="gray">{{'payment' | translate}}</span>
        <span class="pull-right" ion-text color="gray">{{ cart.getPayment() | currency:'CZK':true }}</span>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <br *ngIf="!user" />
  <div class="card" *ngIf="!user">
    <ion-list class="list-full-border" no-margin>
      <ion-list-header>{{'cart_user' | translate }}</ion-list-header>
    </ion-list>

    <div padding>
      <ion-row>
        <button color="favorite" *ngIf="!user" ion-button (click)="login()">
          {{ 'login' | translate }}
        </button>
      </ion-row>
      <ion-row>
        <button color="light" *ngIf="!user" ion-button (click)="noregister()">
          {{ 'no_register' | translate }}
        </button>
      </ion-row>
    </div>
  </div>
  <br/>
  <div class="card" *ngIf="user">
    <ion-list class="list-full-border" no-margin>
      <ion-list-header>{{'billing_address' | translate }}</ion-list-header>
    </ion-list>

    <div padding>
      <newforms [form]="modelBillingAddress | async"></newforms>
    </div>
  </div>
  <br/>
  <div class="card" *ngIf="user && dataBillingAddress && !dataBillingAddress.sameBillingAndMailingAddress">
    <ion-list class="list-full-border" no-margin>
      <ion-list-header>{{'mailing_address' | translate }}</ion-list-header>
    </ion-list>

    <div padding>
      <newforms [form]="modelMailingAddress | async"></newforms>
    </div>
  </div>
  <br *ngIf="user && dataBillingAddress && !dataBillingAddress.sameBillingAndMailingAddress" />

  <!-- <div class="card" *ngIf="cart">
    <ion-list class="list-full-border" no-margin>
      <ion-list-header>{{'cart_summary' | translate }}</ion-list-header>
    </ion-list>

    <div class="card-footer" padding>
      <div>
        <span class="pull-left" ion-text color="gray">{{'cart_products' | translate }}</span>
        <span class="pull-right" ion-text color="gray">{{ cart.getSubtotal() | currency:'CZK':true }}</span>
        <div class="clear"></div>
      </div>
      <div>
        <span class="pull-left" ion-text color="gray">{{'postage' | translate}}</span>
        <span class="pull-right" ion-text color="gray">{{ cart.getPostage() | currency:'CZK':true }}</span>
        <div class="clear"></div>
      </div>
    </div>
  </div> -->

  <div *ngIf="!user" class="align-bottom" padding text-center>
    {{'register' | translate}}
    <span class="bold" (click)="register()">{{'register_button' | translate}}</span>
  </div>
</ion-content>

<ion-footer *ngIf="user && cart" class="cart-footer" padding>
  <ion-title>
    <span ion-text color="gray">{{'cart_total' | translate}}</span>
    <br/>
    <span class="bold" ion-text color="danger">{{ cart.getTotal() | currency:'CZK':true }}</span>
  </ion-title>
  <ion-buttons end>
    <button ion-button (click)="buy()" color="danger">
      {{'cart_order' | translate}}
    </button>
  </ion-buttons>
</ion-footer>