page-home,
.home {

  .discount-rate {
    font-size: 0.9em;
    padding: 3px;
    background: rgba(244, 67, 54, .15);
  }

  .card {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

  .card-product {
    height: 280px;
  }

  .categoryTitle {
    margin: 0 0 5px 0;
  }

.image-category {
  margin-top:16px;
  width: 125px;
}

  .image {
    margin-top:16px;
    width: 150px;
    max-height: 150px;
  }

  .holder {
    text-align:left;
    div {
      font-size: 14px;
    }
    .oldprice {
      font-size: 12px;
    }
  }

  .align-bottom {
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    text-align: left;
  }

  .title {
    margin:0;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
  }

  .category {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  ion-slides {
    height: auto;
  }

  .cat-list {
    font-size: 0.8em;
  }

  .cat-icon {
    padding: 0.2rem;
    font-size: 5em;
    font-weight: bold;
  }

  .deals {

    ion-col {
      padding: 6px;
      padding-top: 0;

      &:first-child {
        padding-left: 12px;
      }

      &:last-child {
        padding-right: 12px;
      }

      ion-card {
        width: 100%;
        padding: 0.8em;
        margin: 0;

        ion-badge {

          width: 100%;
          margin: 5px 0;
        }
      }
    }
  }

  .price {
    font-size: 16px;
  }

  .giveMeEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */     
 }
}
