@import "ionic.globals";

$text-color: #000;
$background-color: #fff;

$colors: (
  primary: #DC4437,
  secondary: #36ACE2,
  danger: #f53d3d,
  light: #FFFFFF,
  dark: #222,
  favorite: #69BB7B,
  facebook: #3B5999,
  googleplus: #DD4C39,
  bgColor: #EBEBEC,
  gray: #999,
  green: #004f02,
  orange: #F44336
);

$primary: color($colors, primary);
$font-size-extra-large: 24px;
$font-size-large: 20px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-extra-small: 10px;

@import "ionic.theme.default";
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";