<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'my_orders' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="my-order common-bg">
  <div class="card light-bg" margin-top *ngFor="let order of orders; let orderIndex = index">
    <div class="card-header" padding>
      <div>{{'order_number' | translate }}: {{ order.key }}</div>
      <div>{{'order_state' | translate }}: {{ getStateString(order.state) }}</div>
      <div>{{'order_date' | translate }}: {{ order.date | date }}</div>
      <div>{{'postage' | translate }}: {{ order.postage.title}} ({{ order.postage.price | currency:'CZK':true }})</div>
      <div *ngIf="order.getExtraPostage()">{{'extra_postage' | translate }}: {{ order.getExtraPostage() | currency:'CZK':true }}</div>
      <div>{{'payment' | translate }}: {{ order.payment.title}} ({{ order.payment.price | currency:'CZK':true }})</div>
    </div>

    <ion-list class="list-full-border" no-margin>
      <ion-item class="product" *ngFor="let item of order.items; let i = index">
        <ion-thumbnail item-left>
          <img src="{{ url + item.item.filenames[0] }}">
        </ion-thumbnail>
        <div>
          <div text-wrap>{{ item.item.name }}</div>
          <div padding-bottom>
            <span class="pull-right">{{ item.item.getPrice() | currency:'CZK':true }} x {{ item.quantity }}</span>
            <div class="clear"></div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="card-footer" padding>
      <div>
        <span class="pull-left" ion-text color="gray">{{'cart_total' | translate}}</span>
        <span class="pull-right bold" ion-text color="danger">{{ order.getTotal() | currency:'CZK':true }}</span>
        <div class="clear"></div>
      </div>
    </div>

  </div>
</ion-content>